<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-original-title="Toggle Navigation" data-placement="right"></div>
    </div>
   
    <a class="logo" href="index.html">
        <b>Gestion d'entrepot</b>
    </a>
    
    <div id="top_menu" class="nav notify-row">
        <ul class="nav top-menu">
        </ul>
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li>
                <a class="logout" href="#">Logout</a>
            </li>
        </ul>
</header>