<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            {% stylesheets '../app/Resources/public/css/*' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock stylesheets%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
    <div class="container">
    {% block nav %}
        {% include 'nav.html.twig' %}
    {% endblock nav%}    
       
    {% block body %}
    {% endblock body%}
    
    </div> <!-- /container -->
        {% block javascripts %}
        {% endblock javascripts%}
    </body>
</html>
