{#Header#}

<aside>
     <div id=sidebar class="nav-collapse" z-index="5000">
         <ul id="nav-accordion" class="sidebar-menu">
             <div id='accordion'>
            <p class="centered">
                (logo)
            </p>
            <h5 class="centered">IDM</h5>
            <li class="mt">

            </li>
             
            <li class="sub-menu dcjq-parent-li">
                <a class="" href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Contrats</span>
                </a>
             </li>
             
             <li class="sub-menu dcjq-parent-li">
                 <a class="dcjq-parent" href="javascript:;">
                     <i class="fa fa-desktop"></i>
                     <span>Clients</span>
                     <span class="dcjq-icon"></span>
                 </a>
                 <ul class="sub" style="display: none;">
                     <li>
                         <a href="{{ path('client_index')}}">Liste des clients</a>
                     </li>
                 </ul>
             </li>
             
             <li class="sub-menu dcjq-parent-li">
                 <a class="dcjq-parent" href="javascript:;">
                     <i class="fa fa-desktop"></i>
                     <span>Location</span>
                     <span class="dcjq-icon"></span>
                 </a>
                 <ul class="sub" style="display: none;">
                     <li>
                         <a href="#">Locaux</a>
                     </li>
                     <li>
                         <a href="#">Stationnements</a>
                     </li>
                     <li>
                         <a href="#">Sites</a>
                     </li>
                 </ul>
             </li>
           
             <li class="sub-menu dcjq-parent-li">
                 <a class="dcjq-parent" href="javascript:;">
                     <i class="fa fa-desktop"></i>
                     <span>Administration</span>
                     <span class="dcjq-icon"></span>
                 </a>
                 <ul class="sub" style="display: none;">
                 </ul>
             </li>
             </div>
         </ul>
     </div>
</aside>
    
{#<nav class="navbar navbar-default" id="sidebar">
    <div class="container-fluid">
        <div class="">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Gestion d'entrepot</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Contrats</a></li>
                <li><a href="{{ path('client_index')}}">Clients</a></li>
                <li><a href="#">Locaux</a></li>
                <li><a href="#">Stationnement</a></li>
                <li><a href="#">Sites</a></li>
                <li><a href="#">Administration</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>#}