{% block listing %}
    <table class="table table-hover table-striped ">
        <caption>{% block caption %}{% endblock caption%}</caption>
        <thead>
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
            <tr class='danger'>
                <td>February</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$50</td>
            </tr>
        </tbody>
    </table>
{% endblock listing%}

{% block test %}
    <h2>pikachu</h2>
{% endblock test %}