{% extends 'CoordinateBundle::layout.html.twig' %}

{% block body %}
<h3>Ajout de numero de telephone</h3>
<div class="well">
{#    {% form_theme form 'CommonBundle:Form:form_common.html.twig' %}
    {{  form_row(form.startDate}) }}#}
  {{ form(form) }}

</div> 
{% endblock %}