{% macro property(value, label) %}
    <div class="field-container">
        <span class="field-label">{% if value is defined and value is not empty %}{{ value }}{% endif %}</span>
        <span class="field-value">{% if label is defined and label is not empty %}{{ label }}{% endif %}</span>
    </div>
{% endmacro %}