{% extends 'PersonBundle:Client:Common/layout.html.twig' %}

{% block leftSide %} {{ block('formActions') }} {% endblock leftSide %}

{% block pageTitle %}Ajout de client{% endblock pageTitle%}

{% block body %}
    <div class="well">
        {{ form(form) }}
    </div> 
{% endblock body%}